<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectProvisioningMode</key>
	<true/>
	<key>developmentAppKey</key>
	<string>&lt;&lt;UrbanAirship development app key&gt;&gt;</string>
	<key>developmentAppSecret</key>
	<string>&lt;&lt;UrbanAirship development app secret&gt;&gt;</string>
	<key>productionAppKey</key>
	<string>&lt;&lt;UrbanAirship production app key&gt;&gt;</string>
	<key>productionAppSecret</key>
	<string>&lt;&lt;UrbanAirship production app secret&gt;&gt;</string>
</dict>
</plist>
